/* general */

pre {
    white-space: pre-line;
}


/* user comments */

.user-comments > div {
    margin-bottom: 30px;
    border-bottom: 1px solid black;
}


/* event */

.event {
}

.abbrev {
    font-size: 80%;
}

.header {
    font-weight: bold
}

.replies {
    padding-left: 20px;
}
