/* general */

pre {
    white-space: pre-line;
}


/* user comments */

.comments > div {
    margin-bottom: 30px;
}


/* event */

.header {
    font-weight: bold
}

.replies {
    padding-left: 20px;
}
