<div class='event $(ctx.abbrev ? "abbrev" : "")'>
    <> ?(ctx.eventPresent)
        $(tmpl::event::header(ctx))

        <pre class="content">
            $(ctx.content)
        </pre>
    </>

    <> ?(!ctx.eventPresent)
        <div style="color: red">Event not found</div>
    </>

    <div class="replies">
        <div> @(const auto &r : ctx.replies)
            $(r)
        </div>
    </div> ?(ctx.replies.size())
</div>
