<div class="community-info">
    <h2>Algo: $(ctx.communitySpec.at("name").get_string())</h2>

    <div>
        By: $(ctx.descriptor)
    </div>

    <h3>Description</h3>

    <div class="">
    </div>

    <h3>Algo</h3>

    <pre class="algo-text">$(ctx.communitySpec.at("algo").get_string())</pre>
</div>
