<div class="note">
    <div class="header">
        <a href="/u/$(ctx.user->npub)">$(ctx.user->username)</a>
        | $(ctx.timestamp)
        | <>+$(ctx.ev->upVotes)</> ?(ctx.ev->upVotes)
          <>-$(ctx.ev->downVotes)</> ?(ctx.ev->downVotes)
    </div>

    <pre class="content">
        $(ctx.comment)
    </pre>

    <div class="replies">
        <div>
            $(r)
        </div> @(const auto &r : ctx.replies)
    </div> ?(ctx.replies.size())
</div>
