<html>
    <head>
        <script src="http://localhost:8081/turbo.js" defer></script>
        <link href="http://localhost:8081/web.css" rel="stylesheet">
    </head>
    <body>
        $(ctx.body)
    </body>
</html>
