<div class="user">
    <div>
        No metadata event found for $(ctx.npubId)
    </div> ?(!ctx.kind0Found())

    <table>
        <tr>
            <th>npub</th>
            <td><pre>$(ctx.npubId)</pre></td>
        </tr>

        <tr>
            <th>$(field)</th>
            <td><pre>$(ctx.getMeta(field))</pre></td>
        </tr> @(const auto &field : { "name", "about" })

        <>
            <tr>
                <th>$(field)</th>
                <td><pre>$(ctx.getMeta(field))</pre></td>
            </tr> ?(field != "name" && field != "about")
        </> @(const auto &[field, v] : ctx.kind0Json.get_object())

    </table> ?(ctx.kind0Found())

    <a href="/u/$(ctx.npubId)/notes">Notes</a>
</div>
