<div class="user">
    <div>
        No metadata event found for $(to_hex(ctx->pubkey))
    </div> ?(!ctx->kind0Found())

    <table>
        <tr>
            <th>pubkey</th>
            <td><pre>$(to_hex(ctx->pubkey))</pre></td>
        </tr>

        <tr>
            <th>$(field)</th>
            <td><pre>$(ctx->getMeta(field))</pre></td>
        </tr> @(const auto &field : { "name", "about" })

        <>
            <tr>
                <th>$(field)</th>
                <td><pre>$(ctx->getMeta(field))</pre></td>
            </tr> ?(field != "name" && field != "about")
        </> @(const auto &[field, v] : ctx->kind0Json.get_object())

    </table> ?(ctx->kind0Found())

    <a href="/u/$(to_hex(ctx->pubkey))/notes">Notes</a>
</div>
