<div class="comments">
    <div> @(const auto &c : ctx->comments)
        <a href="/e/$(to_hex(c.root))">thread</a> ?(c.root.size())
        <a href="/e/$(to_hex(c.parent))">parent</a> ?(c.parent.size())

        <a href='/e/$(c.json.at("id").get_string())'>thread</a> ?(!c.root.size())
        $(c.json.at("content").get_string())
    </div>
</div>
